---
import MetadataRow from "@temis/design-system/components/MetadataRow.astro";
import PageHero from "@temis/design-system/components/PageHero.astro";
import ContentGraphRail from "../../components/ContentGraphRail.astro";
import SiteLayout from "../../components/SiteLayout.astro";
import {
  getFocusedContentGraphSnapshot,
  postGraphNodeId,
} from "../../lib/content-graph";
import {
  entryAuthorHref,
  entryAuthorName,
  entryDescription,
  entrySlug,
  entryTitle,
  getPostBySlug,
  getPosts,
  getSiteTexts,
} from "../../lib/emdash";
import { portableTextToHtml } from "../../lib/portable-text";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: entrySlug(post) },
    props: { post },
  }));
}

const { post } = Astro.props;
const resolvedPost = post ?? (await getPostBySlug(Astro.params.slug ?? ""));
if (!resolvedPost) {
  return Astro.redirect("/404");
}

const title = entryTitle(resolvedPost);
const description = entryDescription(resolvedPost);
const copy = await getSiteTexts({
  postGraphHeading: "Navigation graph",
  postGraphLabel: "Graph navigation from this article",
  postAuthorLabel: "Author",
  postHeroEyebrow: "Article",
  postStatusLabel: "Status",
  postStatusValue: "Published content",
});
const graph = await getFocusedContentGraphSnapshot(
  postGraphNodeId(resolvedPost),
);
const authorName = entryAuthorName(resolvedPost);
const authorHref = entryAuthorHref(resolvedPost);
const metadataItems = [
  authorName
    ? {
        href: authorHref ?? undefined,
        label: copy.postAuthorLabel,
        value: authorName,
      }
    : null,
  { label: copy.postStatusLabel, value: copy.postStatusValue },
].filter((item): item is { href?: string; label: string; value: string } =>
  Boolean(item),
);
---

<SiteLayout title={title} description={description}>
  <div class="ds-content-page">
    <article class="ds-content-main">
      <PageHero
        eyebrow={copy.postHeroEyebrow}
        title={title}
        description={description}
      />
      <MetadataRow items={metadataItems} />
      <div
        class="ds-prose"
        set:html={portableTextToHtml(resolvedPost.content)}
      />
    </article>
    <ContentGraphRail
      graph={graph}
      heading={copy.postGraphHeading}
      label={copy.postGraphLabel}
    />
  </div>
</SiteLayout>
